<nav class="navbar navbar-expand-lg py-5">
    <div class="w-100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Відкрити/сховати меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column gap-3" id="mainNav">
            <div class="d-flex gap-5 w-100 justify-content-between">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo-<%= $lang %>.png" alt="Штаб порятунку спадщини">
                </a>
                <div class="d-flex flex-column justify-content-between gap-3 mt-3">
                    <div class="d-flex justify-content-between gap-5">
                        <a class="partner" href="https://tustan.ua/" target="_blank">
                            <img src="/img/tustan-logo.png" alt="Тустань">
                        </a>
                        <a class="partner" href="https://www.facebook.com/HERI.Ukraine" target="_blank">
                            <img src="/img/acure-logo-<%= $lang %>.png" alt="Acure">
                        </a>
                        <a class="partner" href="#" target="_blank">
                            <img src="/img/hemo-logo.png" alt="HEMO">
                        </a>
                    </div>
                    <div class="d-flex justify-content-between gap-5">
                        <ul class="navbar-nav me-auto gap-1 locales align-items-center">
                            <% global.langs.forEach((l, i) => { %>
                                <li class="nav-item">
                                    <% if (l.code === $lang) { %>
                                        <span class="nav-link active"><%= l.title %></span>
                                    <% } else { %>
                                        <a href="<%= $alternates[l.code] || l.url %>" class="nav-link"><%= l.title %></a>
                                    <% } %>
                                </li>
                                <% if (i < global.langs.length - 1) { %>
                                    <li>|</li>
                                <% } %>
                            <% }) %>
                        </ul>
                        <div class="d-flex flex-column justify-content-center">
                            <form class="m-0 input-group input-group-sm" role="search">
                                <input class="form-control" type="search" placeholder="Шукати: Контакти штабу" aria-label="Пошук по сайту">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <span class="icon-search fs-4"></span>
                                    <span class="d-none">Шукати</span>
                                </button>
                            </form>
                        </div>
                        <div class="hotline d-none">
                            <p class="mb-0 fs-5 text-uppercase">
                                <b class="text-nowrap">Гаряча лінія:</b>
                                <a href="tel:<%= global.hotline.tel %>" class="text-nowrap text-danger"><b><%= global.hotline.phone %></b></a>
                            </p>
                            <p class="fs-7 m-0">консультації, допомога, інформування про надзвичайну подію</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex flex-column flex-lg-row flex-wrap gap-3 align-items-center">
                <ul class="navbar-nav me-auto align-items-center gap-2">
                    <% function renderNav(items, level = 0) { %>
                        <% items.forEach(function(item) { %>
                            <li class="nav-item<%= 0 === level && item.children ? ' dropdown' : '' %>">
                                <a
                                    class="nav-link<%= 0 === level && item.children ? ' dropdown-toggle' : '' %> <%= level < 2 ? 'text-uppercase' : '' %> <%= item['style'] || '' %>"
                                    href="<%= item.href %>"
                                    <%- 0 === level && item.children ? 'data-bs-toggle="dropdown"' : '' %>
                                >
                                    <%= item.title %>
                                </a>
                                <% if (item.children) { %>
                                    <ul class="<%= 0 === level ? 'dropdown-menu' : 'nav' %>">
                                        <%= renderNav(item.children, level + 1) %>
                                    </ul>
                                <% } %>
                            </li>
                        <% }); %>
                    <% } %>
                    <%= renderNav(global.nav) %>
                </ul>
                <div>
                    <a class="btn btn-sm bg-black text-white text-uppercase" href="#">Підтримати</a>
                    <a class="btn btn-sm btn-danger text-white text-uppercase" href="#">Реєстр атакованої спадщини</a>
                </div>
            </div>
        </div>
    </div>
</nav>