<%
let idValue = 'undefined' === typeof id ? 'slider' : id;
%>
<div id="<%= idValue %>" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <% slides.forEach((url, i) => { %>
        <div class="carousel-item <%= 0 === i ? 'active' : '' %>">
            <img src="<%= url %>" class="d-block w-100" alt="">
        </div>
        <% }) %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#<%= idValue %>"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Попередня</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#<%= idValue %>"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Наступна</span>
    </button>
</div>